footer {
  background: #0055af;
  padding: 4rem 0 1.6rem;
  overflow: hidden;
  .container {
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left {
        img {
          width: 17rem;
          height: 6.3rem;
        }
      }
      .right {
        ul {
          display: flex;
          gap: 5.6rem;
          li {
            color: #f8f9fa;
          }
        }
      }
    }
    .line-footer {
      padding: 4rem 0 3.2rem;
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2.4rem;
      .left {
        p {
          color: #f8f9fa;
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 3.2rem;
        ul {
          display: flex;
          gap: 8rem;
        }
        .apps {
          display: flex;
          align-items: flex-end;
          gap: 1.6rem;
          img {
            display: block;
            width: 100%;
            max-width: 18rem;
          }
        }
      }
    }
    .copyright {
      color: #f8f9fa;
      font-size: 1.4rem;
      opacity: 0.8;
      text-align: center;
    }
  }
  @media (max-width: 1200px) {
    padding: 8rem 1.6rem 2.4rem;
  }
  @media (max-width: 580px) {
    .container {
      .top {
        flex-direction: column;
        gap: 5.6rem;
        .right {
          ul {
            flex-direction: column;
            text-align: center;
            align-items: center;
            gap: 2.6rem;
          }
        }
      }
      .bottom {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 2rem;
        .right {
          ul {
            gap: 4rem;
          }
        }
      }
    }
  }
}
